body{
    font-family: 'Prompt', sans-serif;
}

.prompt{
  font-family: Prompt;
}
.card{
  padding: 10px;
}

#map{
  border-radius: 20px;
  width: 100%;
  height: 74vh;
  z-index: 0;
}

.footer {
    position: fixed;
    height: 15vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.btn-group.special  {
    display: flex;
    border: 0px;
   
  }
  
  .special .btn {
    flex: 1
  }

  .btn {
    border-width: 0px;
    text-align: center;
  }

  .table_view{

    overflow-y: scroll;
    max-height: 65vh;
  }

  /* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid rgb(255, 169, 9);
}

.legend i {
  width: 18px;
  height: 22px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}



.legend {
  text-align: left;
  line-height: 20px;
  }
  
  .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
  }
  
  .legend .colorcircle {
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-top: 0px;
  }
  

  .alert-success {
    border-radius: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    z-index: 2;
    position: fixed;
    margin-right: 5%;
    margin-top: 42%;
    margin-left: 5%;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}


.loader {
  position: fixed;
  margin-top: 43vh;
  margin-left: 46%;
  z-index: 5;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #084268;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#tracking{
  border-radius: 10px;
  z-index: 3; 
  opacity: 0.8;
  position: fixed;
  margin-top: 20%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px; 
}

.btn-tracking {
  color: #fff;
  background-color: #062f5e;
  border-color:#afafaf;
}

.btn-lockdown {
  color: #fff;
  background-color: #8f0b0b;
  border-color:#afafaf;
  border-radius: 40px;
}
.btn-search {
  color: #fff;
  background-color: #062f5e;
  border-color:#afafaf;
  opacity: 0.8;
  border-radius: 40px;
}
.btn-danger {
  border-radius: 40px;
}

.card_table{
  border-radius: 10px;
  border: 1px;
}


.profile_img{
  border-radius: 10px;
  width: 60px;

}

.alert_danger_text{
  color: white;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(218, 30, 9);
}

.alert_lockdown_text{
  color: white;
  border-radius: 10px;
  text-align: center;
  background-color: #800026
}

.alert_curfew_text{
  color: white;
  border-radius: 10px;
  text-align: center;
  background-color: #ff6600;
}

.alert_success_text{
  color: white;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(34, 155, 4);
}
.pd0{
  padding-left: 0;
  padding-right: 0;
}


.text-left{
  text-align: left;
  padding-left: 25px;
}

.hr_0 {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee;
}

.popover-title,.popover-content {
  font-family: 'Prompt', sans-serif;
}
