

#map{
    width: 100%;
    height: 90vh;
    z-index: 0;
}


.footer {
    position: fixed;
    height: 10vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.btn-group.special {
    display: flex;
  }
  
  .special .btn {
    flex: 1
  }