body{
    font-family: 'Prompt', sans-serif;
    background-color: #ffffff;
}
.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }

.prompt{
  font-family: Prompt;
}
.card{
  text-align: center;
  padding: 10px;
}
.card2{
  text-align: center;
  padding: 10px;
}

#map{
  border-radius: 40px;
    width: 100%;
    height: 70vh;
    z-index: 0;
}
.table_data{
  height: 85vh;
}


#container3,#container2, #container {
  height: 70vh; 
  width: 100%;
}

.footer {
    position: fixed;
    height: 12vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    overflow-y: scroll;
}
.attribute{

  height: 5vh;
}


.text_show{
  margin-top: -12px;
}

.leaflet-right .leaflet-control {
  border-radius: 10px;

}

.legend i {
  width: 18px;
  height: 22px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}



.legend {
  text-align: left;
  line-height: 20px;
  }
  
  .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
  }
  
  .legend .colorcircle {
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-top: 0px;
  }
  


.btn-group.special  {
  display: flex;
  border: 0px;
 
}

.special .btn {
  flex: 1
}

.btn {
  border-width: 0px;
  text-align: center;
}

.rating-num1 {
  margin-top: 2vh;
  font-size: 48px;
}

.blog1{
  color: #505050;
  /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(2242, 80, 148,1) 70%); */
  border-radius: 40px;
  height: 24vh;
}

.blog2{
  color: #4b4b4b;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-right: 1px;
  padding-left: 1px;
}
.Recovered{
  color: #505050;
  /* background-color: #33adff; */
}
.Hospitalized{
  color: #505050;
  /* background-color: #5cd65c */
}
.Deaths{
  color: #505050;
  /* background-color: #800000 */
}

.card_sum{
  text-align: center;
  color: rgb(80, 80, 80);
  border-radius: 40px;
  max-height: 93vh;
  min-height: 93vh;
  padding: 10px;
  margin-bottom: 50px;
}

.jumbotron{
  text-align: center;
  color: rgb(80, 80, 80);
  border-radius: 40px;
  max-height: 93vh;
  min-height: 93vh;
  padding-top: 10px;
  margin-bottom: 10px;
}
.jumbotron-c1{
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(253,215,75,1) 99%);
}
.jumbotron-c2{
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(168, 224, 95,1) 99%);
}

.card_view{
  color: #6b6b6b;
  min-height: 200px;
  border-radius: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: white;
}

.tb_view{
  border-radius: 40px;
}
.table{
  border: 0em;
}

#myChart{
  width: 100%;
  height: 130px;
}

.btn_slide{
  opacity: 0.3;
  max-width: 20%;
  position: fixed;
  z-index: 4;
  margin-top: 95vh;
  margin-left: 90%;
  background-color: #838383;
  border-color: #2e6da4;
}