h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Mitr', sans-serif !important;
}

body {
    font-family: "Kanit",sans-serif !important;
    font-size: 14px !important;
    line-height: 1.72222;
}


body {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
#map{
    width: 100%;
    height: 90vh;
    z-index: 0;
}


