 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Mitr', sans-serif !important;
}

body {
    font-family: "Kanit",sans-serif !important;
    font-size: 14px !important;
    line-height: 1.72222;
}


body {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 90%;
}
#map{
    width: 100%;
    height: 90vh;
    z-index: 0;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
  
